{
    "NIDaq": {
        "classId": "NIDaq",
        "env": {
            "STR_ENV_TIMINGRATE": "10240",
            "STR_ENV_TIMINGSAMPLESPERCHANNEL": "1024",
            "STR_ENV_TRIGGEREXIST": "false"
        }
    },
    "NISensorList": [
        {
            "classId": "vcs_daq.NIAccelerometerSensorInfo",
            "name": "Accelerometer1",
            "env": {
                "STR_ENV_PHYSICALCHANNEL": "cDAQ9189-1F23941Mod1/ai0",
                "STR_ENV_CURRENTMINVALUE": "0",
                "STR_ENV_CURRENTMAXVALUE": "10",
                "STR_ENV_SHUNTRESISTOR": "10",
                "STR_ENV_SHUNTRESISTORLOCATION": "External",
                "STR_ENV_DEVICETERMINALCONFIGURATION": "Pseudodifferential",
                "STR_ENV_ACCELMINVALUE": "-5.00",
                "STR_ENV_ACCELMAXVALUE": "5.00",
                "STR_ENV_ACCELSENSITIVITY": "100.00",
                "STR_ENV_ACCELSENSITIVITYUNIT": "MillivoltsPerG",
                "STR_ENV_DEVICEEXCITATIONSOURCE": "Internal",
                "STR_ENV_DEVICEEXCITATIONVALUE": "0.004",
                "STR_ENV_DEVICEINPUTCOUPLING": "AC"
            }
        },
        {
            "classId": "vcs_daq.NIAccelerometerSensorInfo",
            "name": "Accelerometer2",
            "env": {
                "STR_ENV_PHYSICALCHANNEL": "cDAQ9189-1F23941Mod1/ai1",
                "STR_ENV_CURRENTMINVALUE": "0",
                "STR_ENV_CURRENTMAXVALUE": "10",
                "STR_ENV_SHUNTRESISTOR": "10",
                "STR_ENV_SHUNTRESISTORLOCATION": "External",
                "STR_ENV_DEVICETERMINALCONFIGURATION": "Pseudodifferential",
                "STR_ENV_ACCELMINVALUE": "-5.00",
                "STR_ENV_ACCELMAXVALUE": "5.00",
                "STR_ENV_ACCELSENSITIVITY": "100.00",
                "STR_ENV_ACCELSENSITIVITYUNIT": "MillivoltsPerG",
                "STR_ENV_DEVICEEXCITATIONSOURCE": "Internal",
                "STR_ENV_DEVICEEXCITATIONVALUE": "0.004",
                "STR_ENV_DEVICEINPUTCOUPLING": "AC"
            }
        }
    ]
}